:root {
  /* transition */
  --transition-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-all: all 0.3s var(--transition-bezier);
  --theme-transition-duration: 0.35s;

  /* layout start */
  --header-height: 48px;
  --header-width: calc(100% - var(--aside-width));
  --header-background-color: #fff;
  --header-text-color: rgba(0, 0, 0, 0.85);
  --header-icon-color: var(--header-text-color);
  --header-action-hover-bg-color: #f6f6f6;

  --tab-bar-height: 36px;
  --tab-bar-width: calc(100% - var(--aside-width));

  --aside-height: calc(100% - var(--header-height));
  --aside-width: 210px;
  --aside-background-color: #001529;
  --aside-submenu-background-color: #0c2135;
  --aside-text-color: #fff;

  --trigger-background-color: rgb(72, 72, 78);
  --trigger-border-color: rgb(239, 239, 245);

  --main-height: calc(100% - var(--footer-height));
  --main-width: 100%;
  --main-background-color: var(--layout-container-background-color);

  --footer-height: 60px;
  --footer-width: 100%;
  /* layout end */
}

:root.dark {
  --header-background-color: rgb(24, 24, 28);
  --header-text-color: rgba(255, 255, 255, 0.85);
  --header-action-hover-bg-color: rgba(255, 255, 255, 0.08);

  --trigger-background-color: rgb(72, 72, 78);
  --trigger-border-color: rgba(255, 255, 255, 0.09);
}
